# Dependencies
node_modules/

# Build
dist/

# Database
data/
*.db
*.db-journal
*.db-wal
*.db-shm

# Environment
.env

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
